<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.radtech.spectaruler" >
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:icon="@drawable/icon_name"

        android:allowBackup="true"

        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Menu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ruler"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".Height"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            >

        </activity>
        <activity
            android:name=".Steps"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".Calculation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>
